*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: inherit;
    /* The width and height properties (and min/max properties) includes content, padding and border, but not the margin */
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    box-sizing: border-box;
}